.center {
    /* background-image: url('https://gd-hbimg.huaban.com/9165dc3c0f8279ae5402d1f47212847bff68b49f3cb547-QEli8R'); */
    /* background-size: 100% 100%;
	background-repeat: no-repeat; */
    /* width: 100vw;
	height: 100vh; */
    /* background-color: #00C1C1; */

    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */

    margin: 0;
    /* min-height: 100vh; */
    background-color: rgb(0, 193, 193);
    background-image:
        radial-gradient(closest-side, rgb(10, 206, 59), rgba(46, 225, 225, 0)),
        radial-gradient(closest-side, rgb(106, 245, 148), rgba(47, 214, 186, 0)),
        radial-gradient(closest-side, rgb(16, 199, 232), rgba(36, 232, 95, 0)),
        radial-gradient(closest-side, rgb(37, 241, 221), rgba(69, 237, 156, 0)),
        radial-gradient(closest-side, rgb(15, 182, 228), rgba(22, 211, 94, 0));
    background-size:
        130vmax 130vmax,
        80vmax 80vmax,
        90vmax 90vmax,
        110vmax 110vmax,
        90vmax 90vmax;
    background-position:
        -80vmax -80vmax,
        60vmax -30vmax,
        10vmax 10vmax,
        -30vmax -10vmax,
        50vmax 50vmax;
    background-repeat: no-repeat;
    animation: 5s movement linear infinite;
}

/* .center::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
} */

@keyframes movement {

    0%,
    100% {
        background-size:
            130vmax 130vmax,
            80vmax 80vmax,
            90vmax 90vmax,
            110vmax 110vmax,
            90vmax 90vmax;
        background-position:
            -80vmax -80vmax,
            60vmax -30vmax,
            10vmax 10vmax,
            -30vmax -10vmax,
            50vmax 50vmax;
    }

    25% {
        background-size:
            100vmax 100vmax,
            90vmax 90vmax,
            100vmax 100vmax,
            90vmax 90vmax,
            60vmax 60vmax;
        background-position:
            -60vmax -90vmax,
            50vmax -40vmax,
            0vmax -20vmax,
            -40vmax -20vmax,
            40vmax 60vmax;
    }

    50% {
        background-size:
            80vmax 80vmax,
            110vmax 110vmax,
            80vmax 80vmax,
            60vmax 60vmax,
            80vmax 80vmax;
        background-position:
            -50vmax -70vmax,
            40vmax -30vmax,
            10vmax 0vmax,
            20vmax 10vmax,
            30vmax 70vmax;
    }

    75% {
        background-size:
            90vmax 90vmax,
            90vmax 90vmax,
            100vmax 100vmax,
            90vmax 90vmax,
            70vmax 70vmax;
        background-position:
            -50vmax -40vmax,
            50vmax -30vmax,
            20vmax 0vmax,
            -10vmax 10vmax,
            40vmax 60vmax;
    }
}